/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome-sprockets";
 @import "font-awesome";
 .font_size{
   font-size: 250px;
 }
 .height-64px{
   height: 64px !important;
 }

 .btn-twitter{
   height: 100%;
   font-size: 10px;
   background:  #00aced;
   padding-left: 12px;
   width: 60px;

 }
 .btn-twitter:hover{
   background:  #00aced;
 }
 .fa-twitter{
   padding-top: 10px;
   font-size: 40px !important;
 }
 .btn-facebook{
   padding-left: 18px;
   width: 60px;
   height: 100%;
   font-size: 10px;
   background: #3B5998;
 }
 .btn-facebook:hover{
   background: #3B5998;
 }
 .fa-facebook{
   padding-top: 10px;
   font-size: 40px !important;
 }
 .formulario{

   margin: 0 auto;
 }

 .margin-top-20{
   margin-top: 20px;
 }
 .margin-right-100{
   margin-right: 100px;
 }
 .margin-left-50{
   margin-left: 50px;
 }
 .margin-bottom-70px{
   margin-bottom: 70px;
 }
 .margin-bottom-0px{
   margin-bottom: 0px !important;
 }
 .padding-20{
   padding: 20px;
 }

 .height{
   height: 570px !important;
 }

 .inline-block{
   display: inline-block;
   margin-right: 6px;
 }

 .global{
   display: flex;
   overflow: auto;
 }
 ::-webkit-scrollbar {

   width: 0.5em;
   height: 0.5em;
 }

 ::-webkit-scrollbar-thumb {
   background: slategray;
 }

 ::-webkit-scrollbar-track {
   background: #b8c0c8;
 }
 .border-bottom{
   border-bottom:4px solid white
 }

 .table{
   height: 94vh;
   display: table;
 }
 .centrar{
   display: table-cell;
   vertical-align: middle;
 }
 .fondo{
   background-image:
   linear-gradient(
   rgba(35, 21, 21, 0.45),
   rgba(35, 21, 21, 0.45)
    ),  url("Images/linternaverde.jpg");
   background-size: cover;
   background-repeat: repeat-x;
   background-position: center right;
   background-attachment: fixed;
 }
 .text-aling{
   text-align: center;
   margin-bottom: 15px;
   display: flex;
   justify-content: space-between;
 }
 .card-white{
   margin: 0 auto;
   padding: 26px;
   width: 326px;
 }
