
.fondo{
  position:absolute;
  z-index:-1;
  width:100%;
  height:100%;
}

.margin-top-20{
  margin-top: 20px;
}
.height{
  height: 500px !important;
}

@media screen and(max-width: 1050px){
  .height{
    height: 350px !important;
  }
}

@media screen and(max-width: 600px){
  .height{
    height: 650px !important;
  }
}
